body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1cm;
}
.container{
  width: 80%;
  margin: auto;
  
}
#mainheader{
  background: #333333;
  color: white;

}
#mainNav {
  background: #ccc;
  color: black;
  position: sticky;
  top: 0;
}
#mainNav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
#mainNav li {
  display: inline;
  padding: 5px 10px;
}
#mainNav a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  
}
#mainNav li:hover {
  background: #aaa;
}
#jumbo {
  background-image: url('css.png');
  background-position: center center;
  min-height: 300px;
}
#main {
  /* float: right; */
  /* {float will keep that seection floating in a particular poisiton as in this case on the right poisition.} */
  width: 70%;
  padding: 0 30px;
  box-sizing: border-box;
  background-image: url('side.jpg');
  background-position: center center;
  min-height: 150px;

}
#mainFooter {
  background: #333;
  color: #fff;
  text-align: center;
  /* padding: 10px;
  margin-top: 20px; */
}
h2{
  background-color: yellow;
}

p {
  
  border: 3px solid green;
  padding: 20px;
  margin-top: 40px;
}